#filtro{
  width: 100%;
  height: auto;
  background-color: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  
}



.container-btn-filtro{
  width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 25px;
    background-color: grey;
   
}




.galeria-filtro{
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  padding: 25px;
  background-color: #121215;

}
  
  .imgfiltro {
    width: 30%;
    height: auto;
    object-fit: cover;
    margin: 10px;
    border: 1px solid #ccc;
  }