.acordeon {
  display: flex;
  flex-direction: column;
}

.acordeon-header {
  background-color: #eee;
  padding: 10px;
  cursor: pointer;
}

.acordeon-body {
  padding: 10px;
  display: none;
}
.active{
  background-color: pink;

}