nav{
    background-color:orange;
  }
  
  
  
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    position: relative;
  }
  
  nav a {
    display: block;
    padding: 1em;
    color: #333;
    text-decoration: none;
  }
  
  nav ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    background-color: orange;
    padding: 0;
    margin: 0;
  }
  
  nav ul ul li {
    display: block;
  }
  
  nav ul ul a {
    display: block;
    padding: 0.5em 1em;
    color: #333;
    text-decoration: none;
  }
  
  nav li:hover > ul {
    display: block;
  }
  